Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-jjb, tox-jjb-v2, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-compose_promoter-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/ssh_agent/.*$, ^ci-scripts/infra-setup/roles/compose_promoter/.*$, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-single-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tripleo-ci-promotion-staging-integration-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-jjb-v2: any of: ^jenkins-v2/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/.*\.json, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$, ^playbooks/pre-run-docker.yml$, ^ci-scripts/container-push/roles/containers-promote/*$

Update patch set 1
  0ec71c24e2a94a1eb3449c91025cb612cb29d81b
Due: none

Update patch set 4
  b9fa6f1b76655bd9bf5068cde7cbdc886049350d
Due: none

Update patch set 4
  8f394e5e2056ae83a1ac10d3f499fc1526e0b603
Due: none

Removed duplicated code
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/ruck_rover.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/test_ruck_rover.py
Due: tox-py36-ci-config

Update notes for submitted changes
  f2/59236bac0a474975f21cb1684852c50ffc0d92
Due: none

Refactored a way of handling releases versions
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/conf_ruck_rover.yaml
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/ruck_rover.py
Due: tox-py36-ci-config

Added tests before further refactor
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/test_ruck_rover.py
Due: tox-py36-ci-config

Temporary remove ovb-1ctlr_2comp-featureset020-wallaby from criteria
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-8/wallaby.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config

Update notes for submitted changes
  dc/e6b041ef44fb2e70e1aed8671e6850a9ed75db
Due: none

Revert "Temporary remove ovb-1ctlr_2comp-featureset020-wallaby from criteria"
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-8/wallaby.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config
