Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-jjb, tox-jjb-v2, tox-py36-ci-config

mol-promoter:
  description: Tests promoter deployment role.
  parent: mol
  vars:
    mol_scenario: promoter

mol-promote_images:
  description: Tests promote_images workflow.
  parent: mol
  vars:
    mol_scenario: promote_images

mol-container_push:
  description: 'Tests if containers are pushed to source registry (disable target registry)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push

mol-container_push_secure:
  description: 'Tests if only containers (not manifests) are pushed to a secure registry
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_secure

mol-container_push_multiarch:
  description: 'Download and repush container and multi-arch images on insecure registries
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_multiarch

mol-container_push_manifests:
  description: 'Download and repush manifests on insecure registries (ppc disabled)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_manifests

mol-tripleo_common_integration:
  description: 'Test tripleo-common integration by promoting containers and calling
  
    image prepare command to pull from promote registry to undercloud
  
    registry and emulate what is called in a deployment workflow.
  
    '
  parent: mol
  voting: false
  vars:
    mol_scenario: tripleo_common_integration

mol-get_hash-centos-7:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: get_hash

mol-get_hash-centos-8:
  parent: mol-get_hash-centos-7
  nodeset: rdo-centos-8

mol-compose_promoter-centos-8:
  parent: mol
  nodeset: rdo-centos-8
  vars:
    mol_scenario: compose_promoter

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

tox-jjb:
  run: playbooks/tox-jjb-run.yml

tox-jjb-v2:
  parent: tox-jjb
  vars:
    toxenv: jjb-v2

[TEMP] Disable sc10 OVN for promotion
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-9/wallaby.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py36-ci-config

Update notes for submitted changes
  96/6e404762446ea1dee70e79f18a2007c8426011
Due: none

Revert "[TEMP] Disable sc10 OVN for promotion"
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-9/wallaby.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py36-ci-config

Update notes for submitted changes
  db/981a6174cb48278573fd6ce4342fb651f0297b
Due: none

Update patch set 11
  c51d4a3a58adaa292efe45f8d25a4e0d9903b2d9
Due: none

Update notes for submitted changes
  64/d87f9dc814ede686d8d02a5e880743e1a7ef5c
Due: none

Added shellcheck linting
  .shellcheckrc
  ci-scripts/build-images.sh
  ci-scripts/checkout-patches.sh
  ci-scripts/container-push/manual_push.sh
  ci-scripts/copy-containers/copy-quay.sh
  ci-scripts/copy-containers/copy-rdo.sh
  ci-scripts/copy-containers/tag-quay.sh
  ci-scripts/dlrnapi_promoter/dlrn-promoter.sh
  ci-scripts/infra-cleanup/cleanup-failed-stacks.sh
  ci-scripts/infra-cleanup/cleanup-keys.sh
  ci-scripts/infra-cleanup/cleanup-servers.sh
  ci-scripts/infra-cleanup/ovb-tenant-cleanup.sh
  ci-scripts/infra-setup/roles/rrcockpit/files/development_script.sh
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/entrypoint.sh
  ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/run.sh
  ci-scripts/infra-setup/tests/full-run.sh
  ci-scripts/promote-images.sh
  ci-scripts/tripleo-upstream/dlrnapi_venv.sh
  ci-scripts/tripleo-upstream/get-hash.sh
  ci-scripts/upgrade-ovb.sh
  jenkins-v2/jobs/scripts/centos7-train-current-tripleo.sh
  jenkins-v2/jobs/scripts/centos8-train-current-tripleo.sh
  jenkins-v2/jobs/scripts/centos8-victoria-current-tripleo.sh
  jenkins-v2/jobs/scripts/centos8-wallaby-current-tripleo.sh
  jenkins-v2/jobs/scripts/centos9-master-current-tripleo.sh
  jenkins-v2/jobs/scripts/centos9-wallaby-current-tripleo.sh
  jenkins-v2/jobs/scripts/cico-node-done-from-ansible.sh
  jenkins-v2/jobs/scripts/cico-node-get-to-ansible.sh
  jenkins-v2/jobs/scripts/dlrn-api-report.sh
  jenkins-v2/jobs/scripts/export-success-false.sh
  jenkins-v2/jobs/scripts/export-success-true.sh
  jenkins-v2/jobs/scripts/promote-get-hash.sh
  jenkins-v2/jobs/scripts/promote-repo-dlrnapi.sh
  jenkins-v2/jobs/scripts/tripleo-upstream-collect-logs.sh
  jenkins-v2/jobs/scripts/tripleo-upstream-dlrn-report.sh
  jenkins-v2/jobs/scripts/weirdo-collect-logs.sh
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-jjb-v2, tox-py36-ci-config

Added instructions to use infra-setup roles.
  ci-scripts/infra-setup/README.md
Due: none

Update patch set 4
  25236e2a4aeaaa2d7a471e04cfe28bd10b97ab8f
  fc9ab8d501c3f48a4c6486458085731e9f6224f2
Due: none

Remove sc10 ovn job from criteria
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-9/master.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-compose_promoter-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/ssh_agent/.*$, ^ci-scripts/infra-setup/roles/compose_promoter/.*$, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-jjb-v2: any of: ^jenkins-v2/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/.*\.json, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$, ^playbooks/pre-run-docker.yml$, ^ci-scripts/container-push/roles/containers-promote/*$
