Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-jjb, tox-py27-ci-config, tox-py36-ci-config

mol-promoter:
  description: Tests promoter deployment role.
  parent: mol
  vars:
    mol_scenario: promoter

mol-get_hash-centos-7:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: get_hash

mol-get_hash-centos-8:
  parent: mol-get_hash-centos-7
  nodeset: rdo-centos-8

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

molecule-delegated-promote-images-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-promote-images-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: 'molecule test -s promote-images
  
      '
    skip_report: true

tox-jjb:
  run: playbooks/tox-jjb-run.yml

WIP - Fix promoter scenario
  ci-scripts/infra-setup/roles/promoter/defaults/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/promotion_run.yml
  ci-scripts/infra-setup/roles/promoter/tasks/teardown.yml
  ci-scripts/infra-setup/roles/promoter/tasks/update_credentials.yml
  ci-scripts/infra-setup/roles/promoter/templates/dlrn-promoter.service.j2
  molecule/promoter/functional_tests.yml
  molecule/promoter/molecule.yml
  molecule/promoter/prepare.yml
Due: mol-promoter, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7

Run mol-promoter as unprivileged user
  ci-scripts/infra-setup/roles/promoter/defaults/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/promotion_run.yml
  ci-scripts/infra-setup/roles/promoter/tasks/teardown.yml
  ci-scripts/infra-setup/roles/promoter/tasks/update_credentials.yml
  ci-scripts/infra-setup/roles/promoter/templates/dlrn-promoter.service.j2
  molecule/promoter/functional_tests.yml
  molecule/promoter/molecule.yml
  molecule/promoter/prepare.yml
Due: mol-promoter, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7

WIP: Fix non-component condition for legacy centos7
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
Due: mol-get_hash-centos-7, mol-get_hash-centos-8

Remove release variable from get_hash converge
  ci-scripts/infra-setup/roles/get_hash/defaults/main.yml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
  molecule/get_hash/converge.yml
Due: mol-get_hash-centos-7, mol-get_hash-centos-8

Update patch set 7
  674ed8418681d732679723c55676efa5c567cf9d
Due: none

Update patch set 3
  65f5eb025bf8f73abb6f5bf0780ba912613bf8a5
Due: none

Update notes for submitted changes
  ea/72290a6359ce40e8e14aa9b020121476dff39d
Due: none

Promoter: switch to qcow python promotion
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/promoter_defaults_experimental.yaml
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_qcow_client_unit.py
  ci-scripts/dlrnapi_promoter/test_unit_fixtures.py
Due: mol-promoter, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py27-ci-config, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py27-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
