Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promoter-tripleo-common, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini
  mol-promoter-tripleo-common: any of: .*promoter.*, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^molecule/promoter-tripleo-common/.*, ^requirements.txt, ^test-requirements.txt
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt) or (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml)
  molecule-tripleo-common-delegated-centos-7: (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt) or (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml)
  molecule-delegated-promote-images-delegated-centos-7: (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt) or (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml)
  tripleo-ci-promotion-staging-single-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tripleo-ci-promotion-staging-integration-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml

DNM : move py2 scripts to py3
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/gerrit_changes.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/gerrit_changes.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/github_status.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/infra_status.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/openstack_infra_status.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/rdocloud.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/storyboard.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/storyboard.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/vexhost.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/zuulv3_queue_status.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/deprecated/zuulv3_queues_status.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/gerrit_changes.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/github_status.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/openstack_infra_status.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/storyboard.py
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/telegraf.d/gerrit_changes.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/telegraf.d/infra_status.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/telegraf.d/rdocloud.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/telegraf.d/storyboard.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/telegraf.d/vexxhost.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/telegraf.d/zuulv3_queue_status.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/zuulv3_queues_status.py
Due: none

[WIP] add promotion config for victoria jobs
  ci-scripts/dlrnapi_promoter/config/CentOS-8/component/victoria.yaml
Due: mol-promoter, mol-promoter-tripleo-common, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

[victoria] Promotion/jenkins configurations
  ci-scripts/dlrnapi_promoter/config/CentOS-8/victoria.ini
  jenkins/jobs/promote-victoria-current-tripleo.yml
  jenkins/jobs/scripts/centos-victoria-current-tripleo.sh
Due: mol-promoter, mol-promoter-tripleo-common, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

DNM: Test molecule 3.1.x
  tox.ini
Due: mol-promoter, mol-get_hash-centos-7, mol-get_hash-centos-8

Add script to push containers to quay
  ci-scripts/push-quay/README.md
  ci-scripts/push-quay/push-quay.py
  ci-scripts/push-quay/requirements.txt
Due: none
