Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-shellcheck, tox-jjb-v2, tox-py36-ci-config

mol-promoter:
  description: Tests promoter deployment role.
  parent: mol
  vars:
    mol_scenario: promoter

mol-promote_images:
  description: Tests promote_images workflow.
  parent: mol
  vars:
    mol_scenario: promote_images

mol-container_push:
  description: 'Tests if containers are pushed to source registry (disable target registry)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push

mol-container_push_secure:
  description: 'Tests if only containers (not manifests) are pushed to a secure registry
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_secure

mol-container_push_multiarch:
  description: 'Download and repush container and multi-arch images on insecure registries
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_multiarch

mol-container_push_manifests:
  description: 'Download and repush manifests on insecure registries (ppc disabled)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_manifests

mol-tripleo_common_integration:
  description: 'Test tripleo-common integration by promoting containers and calling
  
    image prepare command to pull from promote registry to undercloud
  
    registry and emulate what is called in a deployment workflow.
  
    '
  parent: mol
  voting: false
  vars:
    mol_scenario: tripleo_common_integration

mol-get_hash-centos-7:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: get_hash

mol-get_hash-centos-8:
  parent: mol-get_hash-centos-7
  nodeset: rdo-centos-8

mol-compose_promoter-centos-8:
  parent: mol
  nodeset: rdo-centos-8
  vars:
    mol_scenario: compose_promoter

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

tox-jjb-v2:
  run: playbooks/tox-jjb-run.yml
  vars:
    toxenv: jjb-v2

Update patch set 32
  42f9f4eec2e44bb8a1fc6ea8d02ffb47c5a128db
Due: none

Added moleclue tests for ssh, nginx
  molecule/system_groups/cleanup.yml
  molecule/system_groups/molecule.yml
  molecule/system_groups/prepare.yml
  molecule/system_groups/verify.yml
  molecule/system_nginx/cleanup.yml
  molecule/system_nginx/molecule.yml
  molecule/system_nginx/prepare.yml
  molecule/system_nginx/verify.yml
  molecule/system_users/cleanup.yml
  molecule/system_users/molecule.yml
  molecule/system_users/prepare.yml
  molecule/system_users/verify.yml
Due: mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8

Update patch set 8
  92fe3c11b6dd3977c9ceb72e76d3f7ac53a3704a
Due: none

Update patch set 1
  e29e6f0e1f45139935cd9d2fe6ff98d40430bf0a
Due: none

Update patch set 32
  b011b7b3eb03620485ef7b6ff404c93e3fb96ca4
Due: none

WIP: Reduce the master line - container build + scenarios
  ci-scripts/dlrnapi_promoter/config/CentOS-9/component/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-9/master.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py36-ci-config

WIP: Reduce the zed line - container build + scenarios
  ci-scripts/dlrnapi_promoter/config/CentOS-9/component/zed.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-9/zed.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py36-ci-config

Update patch set 32
  7c86986a6b6376e26f13ef8b41b78762c6e0d383
Due: none

Update notes for submitted changes
  b0/11b7b3eb03620485ef7b6ff404c93e3fb96ca4
Due: none

Added moleclue tests for ssh, nginx
  ci-scripts/infra-setup/roles/configure_nginx/tasks/main.yml
  molecule/system_groups/cleanup.yml
  molecule/system_groups/molecule.yml
  molecule/system_groups/prepare.yml
  molecule/system_groups/verify.yml
  molecule/system_nginx/cleanup.yml
  molecule/system_nginx/molecule.yml
  molecule/system_nginx/prepare.yml
  molecule/system_nginx/verify.yml
  molecule/system_users/cleanup.yml
  molecule/system_users/molecule.yml
  molecule/system_users/prepare.yml
  molecule/system_users/verify.yml
Due: mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-compose_promoter-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/ssh_agent/.*$, ^ci-scripts/infra-setup/roles/compose_promoter/.*$, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-shellcheck: any of: .*\.sh, ^ci-scripts/.*\.sh, ^ci-scripts/container-push/.*\.sh, ^ci-scripts/copy-containers/.*\.sh, ^ci-scripts/dlrnapi_promoter/.*\.sh, ^ci-scripts/infra-cleanup/.*\.sh, ^ci-scripts/infra-setup/roles/rrcockpit/files/.*\.sh, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.sh, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.sh, ^ci-scripts/infra-setup/tests/.*\.sh, ^ci-scripts/tripleo-upstream/.*\.sh, ^jenkins-v2/jobs/scripts/.*\.sh
  tox-jjb-v2: any of: ^jenkins-v2/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/.*\.json, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$, ^playbooks/pre-run-docker.yml$, ^ci-scripts/container-push/roles/containers-promote/*$
