Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

Path conditions:
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tox-py27-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$

Promoter: download and use the containers build exclude list
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py27-ci-config, tox-py36-ci-config

Promoter: Rename molecule jobs to legacy-*
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-container-push/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-container-push/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-default/INSTALL.rst
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-default/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-default/functional_tests.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-default/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-default/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-promote-images/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-promote-images/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-tripleo-common-integration/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/legacy-tripleo-common-integration/molecule.yml
  playbooks/legacy/molecule-delegated-pre.yml
  playbooks/legacy/molecule-delegated-promote-images-pre.yml
  playbooks/legacy/molecule-delegated.yml
  playbooks/legacy/molecule-post.yml
  playbooks/legacy/staging-post.yml
  playbooks/legacy/staging.yml
  zuul.d/jobs-promoter-centos-7.yaml
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

Promoter: Delete original molecule jobs
  zuul.d/jobs-promoter-centos-7.yaml
Due: none

Update patch set 1
  b072fa0e8aeac057f95436ac3662a52c95710f4e
Due: none

Add molecule guideline
  molecule/README.md
Due: rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

Promoter: download and use the containers build exclude list
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/stage-config.yaml
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py27-ci-config, tox-py36-ci-config
