Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-jjb, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-single-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tripleo-ci-promotion-staging-integration-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$

Create a separate dir for container push logs
  ci-scripts/dlrnapi_promoter/config_environments/rdo/defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/staging/defaults.yaml
  ci-scripts/dlrnapi_promoter/registries_client.py
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config

Create script to setup the local machine
  ci-scripts/dlrnapi_promoter/setup-local-machine.sh
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config

Reflecting config values to defaults
  ci-scripts/dlrnapi_promoter/common.py
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config

Update patch set 2
  4f2e8e2832bb9c6d684889be253925a5a060f0c0
Due: none

WIP : Adding unit tests for zuulv3_queues_status module
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/data/zuulv3_queues_data
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/test_zuulv3_queues_status.py
Due: tox-py36-ci-config

fix up the alert bot notifications
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/Dockerfile
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/get_alerts.py
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/grafana-alert-notification-server.py
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/requirements.txt
Due: tox-py36-ci-config

ppc64le: Install rust to properly build cryptography
  jenkins/jobs/tripleo-upstream-builders.yml
Due: tox-jjb

fix up the alert bot notifications
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/Dockerfile
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/entrypoint.sh
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/get_alerts.py
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/grafana-alert-notification-server.py
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/import-grafana.py
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/requirements.txt
Due: tox-py36-ci-config
