Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-jjb, tox-py36-ci-config

mol-promoter:
  description: Tests promoter deployment role.
  parent: mol
  vars:
    mol_scenario: promoter

mol-promote_images:
  description: Tests promote_images workflow.
  parent: mol
  vars:
    mol_scenario: promote_images

mol-container_push:
  description: 'Tests if containers are pushed to source registry (disable target registry)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push

mol-container_push_secure:
  description: 'Tests if only containers (not manifests) are pushed to a secure registry
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_secure

mol-container_push_multiarch:
  description: 'Download and repush container and multi-arch images on insecure registries
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_multiarch

mol-container_push_manifests:
  description: 'Download and repush manifests on insecure registries (ppc disabled)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_manifests

mol-tripleo_common_integration:
  description: 'Test tripleo-common integration by promoting containers and calling
  
    image prepare command to pull from promote registry to undercloud
  
    registry and emulate what is called in a deployment workflow.
  
    '
  parent: mol
  voting: false
  vars:
    mol_scenario: tripleo_common_integration

mol-get_hash-centos-7:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: get_hash

mol-get_hash-centos-8:
  parent: mol-get_hash-centos-7
  nodeset: rdo-centos-8

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

tripleo-ci-promotion-staging-single-pipeline-centos-8:
  parent: tripleo-ci-promotion-staging-base
  vars:
    pipeline_type: single

tripleo-ci-promotion-staging-integration-pipeline-centos-8:
  parent: tripleo-ci-promotion-staging-base
  vars:
    pipeline_type: integration

Updated Upstream gate jobs table in Cockpit dashboard to not consider jobs with result SKIPPED
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/cockpit.dashboard.json
Due: none

Update notes for submitted changes
  48/47d23f5e31ec8464b71a37180fbcf214ff19f3
Due: none

ppc64le: Upgrade pip to fix issue with cryptography
  jenkins/jobs/tripleo-upstream-builders.yml
Due: tox-jjb

Update notes for submitted changes
  48/aa12e86e83b4a54e694b71ee9d084e32b08a03
Due: none

Adding unit tests for zuulv3 job builds module
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/data/zuulv3_job_builds_test_data
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/test_zuulv3_job_builds.py
Due: tox-py36-ci-config

Adding unit tests for jenkins_jobs module
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/data/jenkins-test-jobs
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/test_get_jenkins_jobs.py
Due: tox-py36-ci-config

Update notes for submitted changes
  92/4dba7c88aec8713a8a4a2ed62d8762f106deb4
Due: none

Bump cryptography version
  test-requirements.txt
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-jjb, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-single-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tripleo-ci-promotion-staging-integration-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
