Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-jjb, tox-jjb-v2, tox-py36-ci-config

mol-promoter:
  description: Tests promoter deployment role.
  parent: mol
  vars:
    mol_scenario: promoter

mol-promote_images:
  description: Tests promote_images workflow.
  parent: mol
  vars:
    mol_scenario: promote_images

mol-container_push:
  description: 'Tests if containers are pushed to source registry (disable target registry)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push

mol-container_push_secure:
  description: 'Tests if only containers (not manifests) are pushed to a secure registry
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_secure

mol-container_push_multiarch:
  description: 'Download and repush container and multi-arch images on insecure registries
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_multiarch

mol-container_push_manifests:
  description: 'Download and repush manifests on insecure registries (ppc disabled)
  
    '
  parent: mol
  vars:
    mol_scenario: container_push_manifests

mol-tripleo_common_integration:
  description: 'Test tripleo-common integration by promoting containers and calling
  
    image prepare command to pull from promote registry to undercloud
  
    registry and emulate what is called in a deployment workflow.
  
    '
  parent: mol
  voting: false
  vars:
    mol_scenario: tripleo_common_integration

mol-get_hash-centos-7:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: get_hash

mol-get_hash-centos-8:
  parent: mol-get_hash-centos-7
  nodeset: rdo-centos-8

mol-compose_promoter-centos-8:
  parent: mol
  nodeset: rdo-centos-8
  vars:
    mol_scenario: compose_promoter

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

tox-jjb:
  run: playbooks/tox-jjb-run.yml

tox-jjb-v2:
  parent: tox-jjb
  vars:
    toxenv: jjb-v2

Temporarily remove fs001 internal from master alternative criteria
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-9/master.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py36-ci-config

Update notes for submitted changes
  f9/26d139b15f7e5aad8a3d9d75f0e4bca7350dfa
Due: none

Update patch set 1
  9cb94aeb217391078b2d34fcdd3f9ecde36c34c2
Due: none

Update notes for submitted changes
  bb/2c9c12728e008c9edd11cc51f9625128d0aaac
Due: none

Removal of victoria from promotions dashboard
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/component-pipeline-victoria.dashboard.json
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/upstream-and-rdo-promotions.dashboard.json
Due: none

Prepare support for multiple OpenStack projects
  ci-scripts/infra-setup/inventories/inventory.ini
  ci-scripts/infra-setup/inventory/group_vars/all.yml
  ci-scripts/infra-setup/roles/base/tasks/main.yml
  ci-scripts/infra-setup/roles/base/templates/ansible-pull.sh.j2
  ci-scripts/infra-setup/roles/base/templates/hosts.j2
  ci-scripts/infra-setup/tenant_vars/common.yml
  ci-scripts/infra-setup/tenant_vars/infra-tripleo/servers.yml
  ci-scripts/infra-setup/tests/full-run.sh
  ci-scripts/infra-setup/tests/nuke.sh
  ci-scripts/infra-setup/tests/provision-only.sh
Due: tox-py36-ci-config

Prepare support for multiple OpenStack projects
  ci-scripts/infra-setup/inventories/inventory.ini
  ci-scripts/infra-setup/inventory/group_vars/all.yml
  ci-scripts/infra-setup/inventory/hosts.yml
  ci-scripts/infra-setup/roles/base/tasks/main.yml
  ci-scripts/infra-setup/roles/base/templates/ansible-pull.sh.j2
  ci-scripts/infra-setup/roles/base/templates/hosts.j2
  ci-scripts/infra-setup/tenant_vars/common.yml
  ci-scripts/infra-setup/tenant_vars/infra-tripleo/servers.yml
  ci-scripts/infra-setup/tests/full-run.sh
  ci-scripts/infra-setup/tests/nuke.sh
  ci-scripts/infra-setup/tests/provision-only.sh
Due: tox-py36-ci-config

Added support for multiple OpenStack projects
  ci-scripts/infra-setup/README.md
  ci-scripts/infra-setup/full-run.yml
  ci-scripts/infra-setup/grafana_playbook.yml
  ci-scripts/infra-setup/inventory/group_vars/all.yml
  ci-scripts/infra-setup/inventory/group_vars/vexxhost/common.yml
  ci-scripts/infra-setup/inventory/group_vars/vexxhost/networks.yml
  ci-scripts/infra-setup/inventory/group_vars/vexxhost/secrets_example.yml
  ci-scripts/infra-setup/inventory/group_vars/vexxhost/security.yml
  ci-scripts/infra-setup/inventory/group_vars/vexxhost/servers.yml
  ci-scripts/infra-setup/inventory/host_vars/provisioner.yml
  ci-scripts/infra-setup/provision-all.yml
  ci-scripts/infra-setup/provisioner_prepare.yml
  ci-scripts/infra-setup/roles/base/tasks/main.yml
  ci-scripts/infra-setup/servers_setup.yml
  ci-scripts/infra-setup/teardown.yml
  ci-scripts/infra-setup/tenant_vars/common.yml
Due: none

Prepare staging environment
  ci-scripts/infra-setup/README.md
  ci-scripts/infra-setup/inventory/group_vars/all.yml
  ci-scripts/infra-setup/inventory/group_vars/rhos-dev-stage/common.yml
  ci-scripts/infra-setup/inventory/group_vars/rhos-dev-stage/networks.yml
  ci-scripts/infra-setup/inventory/group_vars/rhos-dev-stage/secrets_example.yml
  ci-scripts/infra-setup/inventory/group_vars/rhos-dev-stage/security.yml
  ci-scripts/infra-setup/inventory/group_vars/rhos-dev-stage/servers.yml
  ci-scripts/infra-setup/inventory/group_vars/vexxhost/common.yml
  ci-scripts/infra-setup/roles/server_provision/tasks/main.yml
Due: none

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-compose_promoter-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/ssh_agent/.*$, ^ci-scripts/infra-setup/roles/compose_promoter/.*$, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-jjb-v2: any of: ^jenkins-v2/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/.*\.json, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$, ^playbooks/pre-run-docker.yml$, ^ci-scripts/container-push/roles/containers-promote/*$
