Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-shellcheck, tox-jjb-v2, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-compose_promoter-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/ssh_agent/.*$, ^ci-scripts/infra-setup/roles/compose_promoter/.*$, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-shellcheck: any of: .*\.sh, ^ci-scripts/.*\.sh, ^ci-scripts/container-push/.*\.sh, ^ci-scripts/copy-containers/.*\.sh, ^ci-scripts/dlrnapi_promoter/.*\.sh, ^ci-scripts/infra-cleanup/.*\.sh, ^ci-scripts/infra-setup/roles/rrcockpit/files/.*\.sh, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.sh, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.sh, ^ci-scripts/infra-setup/tests/.*\.sh, ^ci-scripts/tripleo-upstream/.*\.sh, ^jenkins-v2/jobs/scripts/.*\.sh
  tox-jjb-v2: any of: ^jenkins-v2/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/tests/.*\.json, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$, ^playbooks/pre-run-docker.yml$, ^ci-scripts/container-push/roles/containers-promote/*$

Added molecule tests for new infra roles
  bindep.txt
  ci-scripts/infra-setup/roles/_ensure_credentials/tasks/main.yml
  ci-scripts/infra-setup/roles/configure_continuous_delivery/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/infra-setup/roles/promoter/templates/influxdb.repo.j2
  molecule/system_cont_delivery/cleanup.yml
  molecule/system_cont_delivery/molecule.yml
  molecule/system_cont_delivery/prepare.yml
  molecule/system_cont_delivery/verify.yml
  molecule/system_ssh/molecule.yml
  molecule/system_ssh/prepare.yml
  molecule/system_ssh/verify.yml
  molecule/test.sh
  playbooks/mol/post.yml
  playbooks/mol/pre.yml
  playbooks/tox-jjb-run.yml
  tox.ini
  zuul.d/jobs-mol.yaml
  zuul.d/layout.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, tripleo-ci-shellcheck, tox-jjb-v2, tox-py36-ci-config

WIP: Reduce the master line - container build + scenarios
  ci-scripts/dlrnapi_promoter/config/CentOS-9/component/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-9/master.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py36-ci-config

Added molecule tests for new infra roles
  .ansible-lint
  bindep.txt
  ci-scripts/infra-setup/roles/_ensure_credentials/tasks/main.yml
  ci-scripts/infra-setup/roles/configure_continuous_delivery/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/infra-setup/roles/promoter/templates/influxdb.repo.j2
  molecule/system_cont_delivery/cleanup.yml
  molecule/system_cont_delivery/molecule.yml
  molecule/system_cont_delivery/prepare.yml
  molecule/system_cont_delivery/verify.yml
  molecule/system_ssh/molecule.yml
  molecule/system_ssh/prepare.yml
  molecule/system_ssh/verify.yml
  molecule/test.sh
  playbooks/mol/post.yml
  playbooks/mol/pre.yml
  playbooks/tox-jjb-run.yml
  tox.ini
  zuul.d/jobs-mol.yaml
  zuul.d/layout.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, tripleo-ci-shellcheck, tox-jjb-v2, tox-py36-ci-config

Added moleclue tests for ssh, nginx
  molecule/system_groups/cleanup.yml
  molecule/system_groups/molecule.yml
  molecule/system_groups/prepare.yml
  molecule/system_groups/verify.yml
  molecule/system_nginx/cleanup.yml
  molecule/system_nginx/molecule.yml
  molecule/system_nginx/prepare.yml
  molecule/system_nginx/verify.yml
  molecule/system_users/cleanup.yml
  molecule/system_users/molecule.yml
  molecule/system_users/prepare.yml
  molecule/system_users/verify.yml
Due: mol-get_hash-centos-7, mol-get_hash-centos-8, mol-compose_promoter-centos-8

Update patch set 31
  42f9f4eec2e44bb8a1fc6ea8d02ffb47c5a128db
  7c86986a6b6376e26f13ef8b41b78762c6e0d383
Due: none
