Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promoter-tripleo-common, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-jjb, tox-py27-ci-config, tox-py36-ci-config

mol-promoter:
  description: Tests promoter deployment role.
  parent: mol
  vars:
    mol_scenario: promoter

mol-promoter-tripleo-common:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: promoter-tripleo-common

mol-get_hash-centos-7:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: get_hash

mol-get_hash-centos-8:
  parent: mol-get_hash-centos-7
  nodeset: rdo-centos-8

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

molecule-delegated-promote-images-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-promote-images-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: 'molecule test -s promote-images
  
      '
    skip_report: true

tox-jjb:
  run: playbooks/tox-jjb-run.yml

Add _ensure_staging role
  ci-scripts/infra-setup/roles/_ensure_staging/defaults/main.yml
  ci-scripts/infra-setup/roles/_ensure_staging/tasks/main.yml
Due: none

Add new mol-promote_images job
  molecule/promote_images/cleanup.yml
  molecule/promote_images/converge.yml
  molecule/promote_images/molecule.yml
  molecule/promote_images/prepare.yml
  molecule/promote_images/verify.yml
  zuul.d/jobs-mol.yaml
  zuul.d/layout.yaml
Due: mol-get_hash-centos-7, mol-get_hash-centos-8, tox-py27-ci-config, tox-py36-ci-config

Add new mol-promote_images job
  molecule/promote_images/cleanup.yml
  molecule/promote_images/converge.yml
  molecule/promote_images/molecule.yml
  molecule/promote_images/prepare.yml
  molecule/promote_images/verify.yml
  zuul.d/jobs-mol.yaml
  zuul.d/jobs-promoter-centos-7.yaml
  zuul.d/layout.yaml
Due: mol-promoter, mol-promoter-tripleo-common, mol-get_hash-centos-7, mol-get_hash-centos-8, tox-py27-ci-config, tox-py36-ci-config

Update notes for submitted changes
  c3/e45f3a259d4a38ae4773cfa13cbdf4e6d77e83
Due: none

Promoter: use {container,overcloud}_containers.yaml as container source
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/config/CentOS-8/train.ini
  ci-scripts/dlrnapi_promoter/config/CentOS-8/ussuri.ini
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/requirements.txt
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/test_config_legacy_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
Due: mol-promoter, mol-promoter-tripleo-common, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py27-ci-config, tox-py36-ci-config

Promoter: use {container,overcloud}_containers.yaml as container source
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/config/CentOS-8/train.ini
  ci-scripts/dlrnapi_promoter/config/CentOS-8/ussuri.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/requirements.txt
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/test_config_legacy_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
Due: mol-promoter, mol-promoter-tripleo-common, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py27-ci-config, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini
  mol-promoter-tripleo-common: any of: .*promoter.*, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^molecule/promoter-tripleo-common/.*, ^requirements.txt, ^test-requirements.txt
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py27-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
