Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promoter-tripleo-common, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

mol-promoter:
  description: Tests promoter deployment role.
  parent: mol
  vars:
    mol_scenario: promoter

mol-promoter-tripleo-common:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: promoter-tripleo-common

mol-get_hash-centos-7:
  parent: mol
  nodeset: rdo-centos-7
  vars:
    mol_scenario: get_hash

mol-get_hash-centos-8:
  parent: mol-get_hash-centos-7
  nodeset: rdo-centos-8

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

molecule-delegated-promote-images-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-promote-images-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: 'molecule test -s promote-images
  
      '
    skip_report: true

tripleo-ci-promotion-staging-single-pipeline-centos-8:
  parent: tripleo-ci-promotion-staging-base
  vars:
    pipeline_type: single

tripleo-ci-promotion-staging-integration-pipeline-centos-8:
  parent: tripleo-ci-promotion-staging-base
  vars:
    pipeline_type: integration

Update patch set 1
  3653042d1627dc1c689b48a4f53d53e5e663d21e
Due: none

Set container preffix per release
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/test_config_legacy_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
Due: mol-promoter, mol-promoter-tripleo-common, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

Change default container preffix as openstack-
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/test_config_legacy_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
Due: mol-promoter, mol-promoter-tripleo-common, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

openstack-* containers in dlrnapi_promoter
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/test_config_legacy_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
Due: mol-promoter, mol-promoter-tripleo-common, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

Update patch set 4
  7ac2b2cfff7d5daf12ef940fdd4defd6a06e0aea
Due: none

Promoter new configuration engine: stage environment
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config_environments/global_defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-7/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-8/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/staging/CentOS-7
  ci-scripts/dlrnapi_promoter/config_environments/staging/CentOS-8
  ci-scripts/dlrnapi_promoter/config_environments/staging/defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/staging/secure-registries.yaml
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/stage.py
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/stage_dlrn.py
  ci-scripts/dlrnapi_promoter/stage_orchestrator.py
  ci-scripts/dlrnapi_promoter/stage_qcows.py
  ci-scripts/dlrnapi_promoter/stage_registries.py
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_dlrn_integration.py
  ci-scripts/dlrnapi_promoter/test_logic_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/test_qcow_client_unit.py
  ci-scripts/dlrnapi_promoter/test_stage_functional.py
  ci-scripts/dlrnapi_promoter/test_stage_unit.py
  ci-scripts/dlrnapi_promoter/test_unit_fixtures.py
  ci-scripts/infra-setup/roles/_ensure_staging/defaults/main.yml
  ci-scripts/infra-setup/roles/_ensure_staging/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  molecule/container_push/prepare.yml
  molecule/container_push_manifests/prepare.yml
  molecule/container_push_multiarch/prepare.yml
  molecule/container_push_secure/prepare.yml
  molecule/promote_images/prepare.yml
  molecule/tripleo_common_integration/prepare.yml
Due: mol-promoter, mol-promoter-tripleo-common, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

Promoter new configuration engine: stage environment
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config_environments/global_defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-7/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-8/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/staging/CentOS-7
  ci-scripts/dlrnapi_promoter/config_environments/staging/CentOS-8
  ci-scripts/dlrnapi_promoter/config_environments/staging/defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/staging/secure-registries.yaml
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/stage.py
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/stage_dlrn.py
  ci-scripts/dlrnapi_promoter/stage_orchestrator.py
  ci-scripts/dlrnapi_promoter/stage_qcows.py
  ci-scripts/dlrnapi_promoter/stage_registries.py
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_dlrn_integration.py
  ci-scripts/dlrnapi_promoter/test_logic_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/test_qcow_client_unit.py
  ci-scripts/dlrnapi_promoter/test_stage_functional.py
  ci-scripts/dlrnapi_promoter/test_stage_unit.py
  ci-scripts/dlrnapi_promoter/test_unit_fixtures.py
  ci-scripts/infra-setup/roles/_ensure_staging/defaults/main.yml
  ci-scripts/infra-setup/roles/_ensure_staging/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/promote-images.sh
  molecule/container_push/prepare.yml
  molecule/container_push_manifests/prepare.yml
  molecule/container_push_multiarch/prepare.yml
  molecule/container_push_secure/prepare.yml
  molecule/promote_images/prepare.yml
  molecule/tripleo_common_integration/prepare.yml
Due: mol-promoter, mol-promoter-tripleo-common, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

Promoter new configuration engine: stage environment
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config_environments/global_defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-7/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-8/master.yaml
  ci-scripts/dlrnapi_promoter/config_environments/rdo/defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/staging/CentOS-7
  ci-scripts/dlrnapi_promoter/config_environments/staging/CentOS-8
  ci-scripts/dlrnapi_promoter/config_environments/staging/defaults.yaml
  ci-scripts/dlrnapi_promoter/config_environments/staging/secure-registries.yaml
  ci-scripts/dlrnapi_promoter/config_legacy.py
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/stage-config.yaml
  ci-scripts/dlrnapi_promoter/stage.py
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/stage_dlrn.py
  ci-scripts/dlrnapi_promoter/stage_orchestrator.py
  ci-scripts/dlrnapi_promoter/stage_qcows.py
  ci-scripts/dlrnapi_promoter/stage_registries.py
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_dlrn_integration.py
  ci-scripts/dlrnapi_promoter/test_logic_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/test_qcow_client_unit.py
  ci-scripts/dlrnapi_promoter/test_stage_functional.py
  ci-scripts/dlrnapi_promoter/test_stage_unit.py
  ci-scripts/dlrnapi_promoter/test_unit_fixtures.py
  ci-scripts/infra-setup/roles/_ensure_staging/defaults/main.yml
  ci-scripts/infra-setup/roles/_ensure_staging/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/promote-images.sh
  molecule/container_push/prepare.yml
  molecule/container_push_manifests/prepare.yml
  molecule/container_push_multiarch/prepare.yml
  molecule/container_push_secure/prepare.yml
  molecule/promote_images/prepare.yml
  molecule/tripleo_common_integration/prepare.yml
Due: mol-promoter, mol-promoter-tripleo-common, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8

Fix info-url for ci.centos tripleo job
  jenkins/jobs/scripts/dlrn-api-report.sh
Due: none

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini
  mol-promoter-tripleo-common: any of: .*promoter.*, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^molecule/promoter-tripleo-common/.*, ^requirements.txt, ^test-requirements.txt
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt) or (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml)
  molecule-tripleo-common-delegated-centos-7: (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt) or (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml)
  molecule-delegated-promote-images-delegated-centos-7: (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt) or (any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml)
  tripleo-ci-promotion-staging-single-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tripleo-ci-promotion-staging-integration-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
