Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, mol-get_hash-centos-7, mol-get_hash-centos-8, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-jjb, tox-py36-ci-config

Path conditions:
  mol-promoter: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-promote_images: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_secure: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_multiarch: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-container_push_manifests: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-tripleo_common_integration: any of: .*promoter.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^molecule/promote_images/.*, ^molecule/container_push.*, ^molecule/tripleo_common_integration.*, .*_ensure_staging.*, .*_ensure_credentials.*, .*container-push.*
  mol-get_hash-centos-7: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  mol-get_hash-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-single-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tripleo-ci-promotion-staging-integration-pipeline-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt, ^ci-scripts/infra-setup/roles/promoter/molecule/.*, ^playbooks/molecule.*.yml
  tox-jjb: any of: ^jenkins/.*, ^requirements.txt, ^test-requirements.txt, ^tox.ini
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/rrcockpit/files/grafana/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/.*\.py, ^ci-scripts/infra-setup/roles/rrcockpit/files/telegraf_py3/.*\.py, ^jcomparison/perfcomp/.*\.py, ^jenkins/jobs/scripts/.*\.py, ^plugins/modules/.*\.py, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$

Update patch set 1
  ee09065a1ce29099f3d5c41cd39e81bbeb3981c2
Due: none

Remove oooq job from CentOS7 train criteria
  ci-scripts/dlrnapi_promoter/config_environments/rdo/CentOS-7/train.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config

Update notes for submitted changes
  80/3ab2088de897f06e9a808bc337f05cdfaecdc7
Due: none

Added support for Extended Hash
  ci-scripts/dlrnapi_promoter/dlrn_client.py
  ci-scripts/dlrnapi_promoter/dlrn_hash.py
  ci-scripts/dlrnapi_promoter/stage_dlrn.py
  ci-scripts/dlrnapi_promoter/test_dlrn_client_unit.py
  ci-scripts/dlrnapi_promoter/test_dlrn_hash_unit.py
  ci-scripts/dlrnapi_promoter/test_dlrn_integration.py
  ci-scripts/dlrnapi_promoter/test_logic_unit.py
  ci-scripts/dlrnapi_promoter/test_main_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/test_registries_client_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
  ci-scripts/dlrnapi_promoter/test_stage_functional.py
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config

Update patch set 6
  765d563d1345fdc74573f7c334a97150d56465cd
Due: none

Added doc for new promoter server
  ci-scripts/dlrnapi_promoter/README.md
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config

Fix periodic-ci-config-molecule-python pipeline
  zuul.d/jobs-mol.yaml
  zuul.d/jobs-promoter.yaml
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration

Update patch set 6
  bc071f0e5d20e7f7ce58ba4926ba584ac2814d8b
Due: none

Update patch set 6
  d72d159c7d6b004e826f6f5659f404ff6b098132
Due: none

Added support for Extended Hash
  ci-scripts/dlrnapi_promoter/dlrn_client.py
  ci-scripts/dlrnapi_promoter/dlrn_hash.py
  ci-scripts/dlrnapi_promoter/stage_dbdata/integration-pipeline.yaml
  ci-scripts/dlrnapi_promoter/stage_dbdata/single-pipeline.yaml
  ci-scripts/dlrnapi_promoter/stage_dlrn.py
  ci-scripts/dlrnapi_promoter/test_dlrn_client_unit.py
  ci-scripts/dlrnapi_promoter/test_dlrn_hash_unit.py
  ci-scripts/dlrnapi_promoter/test_dlrn_integration.py
  ci-scripts/dlrnapi_promoter/test_logic_unit.py
  ci-scripts/dlrnapi_promoter/test_main_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/test_registries_client_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
  ci-scripts/dlrnapi_promoter/test_stage_functional.py
Due: mol-promoter, mol-promote_images, mol-container_push, mol-container_push_secure, mol-container_push_multiarch, mol-container_push_manifests, mol-tripleo_common_integration, tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tripleo-ci-promotion-staging-single-pipeline-centos-8, tripleo-ci-promotion-staging-integration-pipeline-centos-8, tox-py36-ci-config
