Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

tripleo-ci-promotion-staging-single-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: single
    test_release: CentOS-7/master

tripleo-ci-promotion-staging-integration-pipeline-centos-7:
  parent: base
  ansible-version: 2.8
  nodeset: rdo-centos-7
  run: playbooks/staging.yml
  post-run: playbooks/staging-post.yml
  host-vars:
    primary:
      ansible_user: root
  vars:
    pipeline_type: integration
    test_release: CentOS-8/master

molecule-container-push-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  success-url: tox/reports.html
  failure-url: tox/reports.html
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
  ...

molecule-tripleo-common-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: '# container-push generates staging containers, skip teardown
  
  ...

molecule-delegated-promote-images-delegated-centos-7:
  parent: base
  nodeset: rdo-centos-7
  pre-run: playbooks/molecule-delegated-promote-images-pre.yml
  run: playbooks/molecule-delegated.yml
  post-run: playbooks/molecule-post.yml
  vars:
    molecule_test_commands: 'molecule test -s promote-images
  
      '
    skip_report: true

rdo-tox-molecule:
  vars:
    tox_environment:
      PYTEST_REQPASS: 1

rdo-tox-molecule-delegated-centos-8:
  vars:
    tox_environment:
      PYTEST_REQPASS: 1

Promoter: enable qcow promotion rollback
  ci-scripts/dlrnapi_promoter/qcow_client.py
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py27-ci-config, tox-py36-ci-config

Promoter: download and use the containers build exclude list
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/stage-config.yaml
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge.yml
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

Update patch set 8
  fab67eb84ad09a3df592edaf21065cdb5088a5ff
Due: none

WIP: Add mol-promoter job
  .config/molecule/config.yml
  bindep.txt
  ci-scripts/infra-setup/roles/promoter/molecule/default/converge.yml
  molecule/promoter/INSTALL.rst
  molecule/promoter/converge.yml
  molecule/promoter/functional_tests.yml
  molecule/promoter/molecule.yml
  molecule/promoter/prepare.yml
  tox.ini
  zuul.d/jobs-mol.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

Promoter: enable qcow promotion rollback
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/test_qcow_client_unit.py
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, tox-py27-ci-config, tox-py36-ci-config

Update patch set 14
  d4100e0928515d297506fb042dce975f1b75b4b0
Due: none

Promoter: download and use the containers build exclude list
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/repo_client.py
  ci-scripts/dlrnapi_promoter/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/stage-config.yaml
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/stage_containers.py
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge.yml
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

WIP: Add mol-promoter job
  .config/molecule/config.yml
  bindep.txt
  ci-scripts/infra-setup/roles/promoter/molecule/default/converge.yml
  molecule/promoter/INSTALL.rst
  molecule/promoter/converge.yml
  molecule/promoter/functional_tests.yml
  molecule/promoter/molecule.yml
  molecule/promoter/prepare.yml
  playbooks/molecule-pre.yml
  tox.ini
  zuul.d/jobs-mol.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-container-push-delegated-centos-7, molecule-tripleo-common-delegated-centos-7, molecule-delegated-promote-images-delegated-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27-ci-config, tox-py36-ci-config

Path conditions:
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule.*.yml, ^requirements.txt, ^test-requirements.txt
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  tox-py27-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36-ci-config: any of: .*\.py, .*\.ini, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
