Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-fedora-28

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-fedora-28

remove fs039 from master criteria
  ci-scripts/dlrnapi_promoter/config/CentOS-7/master.ini
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Generate custom nginx in role
  ci-scripts/infra-setup/roles/rrcockpit/tasks/main.yml
  ci-scripts/infra-setup/roles/rrcockpit/templates/nginx.conf.j2
Due: tox-py27, tox-py36

Update notes for submitted changes
  f4/3f367a1168bd5e947a77052b0cba222bfb1e11
Due: none

add fs021 back to skipped
  ci-scripts/dlrnapi_promoter/config/CentOS-7/master.ini
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Update notes for submitted changes
  4c/9a8c5ac93483af165dc79bc83ca26c5219b7c5
Due: none

Update notes for submitted changes
  4c/337b4cd33c05ad5d86b95afcd80e22554c556b
Due: none

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$
  rdo-tox-molecule: any of: ^ci-scripts/infra-setup/roles/promoter/.*$
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-tripleo-common.yml
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated-promote-images.yml
  tox-py27: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
  tox-py36: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
