Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-provision-promoter-delegated-centos-8, molecule-promote-images-delegated-centos-8, molecule-container-push-delegated-centos-8, molecule-tripleo-common-delegated-centos-7, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  post-run: playbooks/post-run.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-centos-7

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  post-run: playbooks/post-run.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

Fix dlrnapi endpoint and url generation
  ci-scripts/infra-setup/roles/get_hash/defaults/main.yml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
Due: rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

Update patch set 4
  1241a832739e2c9f1af6bfe1e314d76cd7dd0347
Due: none

[DNM] train
  ci-scripts/infra-setup/roles/get_hash/defaults/main.yml
Due: rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

[ussuri] Promotion/jenkins configurations
  ci-scripts/dlrnapi_promoter/config/CentOS-8/ussuri.ini
  ci-scripts/dlrnapi_promoter/dlrn-promoter.sh
  ci-scripts/infra-setup/roles/promoter/files/dlrn-promoter.telegraf.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/telegraf.d/last_promotions.conf
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/telegraf.d/skipped_promotions.conf
  jenkins/jobs/promote-ussuri-current-tripleo.yml
  jenkins/jobs/scripts/centos-ussuri-current-tripleo.sh
  jenkins/jobs/weirdo-main.yml
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-provision-promoter-delegated-centos-8, molecule-promote-images-delegated-centos-8, molecule-container-push-delegated-centos-8, molecule-tripleo-common-delegated-centos-7, tox-py27, tox-py36

bring master back to better coverage
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging-single-pipeline-centos-7, tripleo-ci-promotion-staging-integration-pipeline-centos-7, molecule-provision-promoter-delegated-centos-8, molecule-promote-images-delegated-centos-8, molecule-container-push-delegated-centos-8, molecule-tripleo-common-delegated-centos-7, tox-py27, tox-py36

move consistently failing jobs to non-voting
  zuul.d/layout.yaml
Due: sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging-single-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-integration-pipeline-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$, ^zuul.d/layout.yaml$
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  molecule-provision-promoter-delegated-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/provision/.*, ^playbooks/molecule-pre.yml, ^requirements.txt, ^test-requirements.txt
  molecule-promote-images-delegated-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-pre.yml, ^requirements.txt, ^test-requirements.txt
  molecule-container-push-delegated-centos-8: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-pre.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common-delegated-centos-7: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  tox-py27: any of: .*\.py, .*\.ini, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36: any of: .*\.py, ^ci-scripts/infra-.*/.*, .*\.ini, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
