Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-legacy: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$, ^zuul.d/layout.yaml$
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  tox-py27: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$

Promoter: enhance summary in logs
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_logic_unit.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

[WIP] Promoter: new promoter config engine
  ci-scripts/dlrnapi_promoter/common.py
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/CentOS-8/legacy_master.ini
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.yaml
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/stage_config.py
  ci-scripts/dlrnapi_promoter/test_common_unit.py
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_ini_files_validation.py
  ci-scripts/dlrnapi_promoter/test_repo_client_unit.py
  ci-scripts/dlrnapi_promoter/test_unit_fixtures.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

[WIP] Promoter: add support multiple configuration environments
  ci-scripts/container-push/container-push.yml
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/defaults.yaml
  ci-scripts/dlrnapi_promoter/dlrn-promoter.sh
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/registries_client.py
  ci-scripts/dlrnapi_promoter/stage_config/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/stage_config/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/stage_config/defaults.yaml
  ci-scripts/promote-images.sh
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Update master promotion criteria with OVB fs035
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

[WIP] Promoter: Set broken jobs as non-voting
  zuul.d/layout.yaml
Due: sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

Promotion criteria: waive full-tempest standalone job
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Update notes for submitted changes
  17/014c85ca07acdb0d19526caf9e54f3e701e86c
Due: none

Revert "Promotion criteria: waive full-tempest standalone job"
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images
