Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.yaml.*
        - sova-tracking-jobs: &sovatrack
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule
        - molecule-delegated
        - molecule-tripleo-common
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - sova-tracking-jobs:
            <<: *sovatrack
        - rdo-tox-molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

WIP! add promote-images molecule & delegated-promote-images job
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/playbook.yml
  playbooks/molecule-delegated-promote-images-pre.yml
  playbooks/molecule-delegated-promote-images.yml
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

Fix container prep regex
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/zuulv3_job_builds.py
Due: tox-py27, tox-py36

Update notes for submitted changes
  71/18c1e5dcd9dcd4a208571b25ae3ccd960a65d9
Due: none

promoter: reduce service verbosity
  ci-scripts/infra-setup/roles/promoter/templates/dlrn-promoter-service.sh.j2
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

Update notes for submitted changes
  b8/d37731ba2e84a34b7779312c8c1e0dd5396de1
Due: none

lint: fixed 206, 601, 602
  .ansible-lint
  ci-scripts/container-push/roles/containers-promote/defaults/main.yml
  ci-scripts/container-push/roles/containers-promote/tasks/main.yaml
  ci-scripts/container-push/roles/containers-promote/tasks/manifest-push.yml
  ci-scripts/container-push/roles/containers-promote/tasks/registry-push.yml
  ci-scripts/infra-setup/roles/general_teardown/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/functional_tests.yml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36
