Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.yaml.*
        - sova-tracking-jobs: &sovatrack
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule
        - molecule-delegated
        - molecule-tripleo-common
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - sova-tracking-jobs:
            <<: *sovatrack
        - rdo-tox-molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

WIP: [staging promoter] tripleo-common integration scenario
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/playbook.yml
  playbooks/molecule-delegated-pre.yml
  playbooks/molecule-tripleo-common.yml
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

Enable ansible-lint
  .ansible-lint
  .pre-commit-config.yaml
  playbooks/staging.yml
Due: tox-py27, tox-py36

promoter: validate docker_login
  ci-scripts/container-push/container-push.yml
Due: tripleo-ci-promotion-staging

Update patch set 4
  cf168091b5798b4998bf5aff62aa2837217872ed
Due: none

Promoter test: refactor integration tests
  ci-scripts/dlrnapi_promoter/tests/staging-setup/fixtures/scenario-1.yaml
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test_promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36
