Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-legacy: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$, ^zuul.d/layout.yaml$
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  tox-py27: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$

[WIP] Prepare for the deduplication
  ci-scripts/infra-setup/roles/promoter/defaults/main.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/verify.yml
  ci-scripts/infra-setup/roles/promoter/tasks/monitoring.yml
  playbooks/common_tasks/promotion-common-tasks-pre.yml
  playbooks/promoter-integration.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-delegated-promote-images, tox-py27, tox-py36

[WIP] Convert promote-images test to centos8
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/cleanup.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/verify.yml
  playbooks/common_tasks/promotion-common-tasks-pre.yml
  test-requirements.txt
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Update notes for submitted changes
  09/3fb971415e96d369c633586a7d1da7b3d3f010
Due: none

Update patch set 46
  6c8d18d550a61dc692e1516a77a72ecef336b7c7
Due: none

Promoter: Adapt provision playbook for centos 8
  .pre-commit-config.yaml
  ci-scripts/dlrnapi_promoter/dlrn-promoter-service.sh
  ci-scripts/dlrnapi_promoter/requirements.txt
  ci-scripts/infra-setup/roles/promoter/defaults/main.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/Dockerfile.j2
  ci-scripts/infra-setup/roles/promoter/molecule/default/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/INSTALL.rst
  ci-scripts/infra-setup/roles/promoter/molecule/provision/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/manage_variables.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/tests_provisioner_functional.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/verify.yml
  ci-scripts/infra-setup/roles/promoter/tasks/apache-logs.yml
  ci-scripts/infra-setup/roles/promoter/tasks/containers-partition.yml
  ci-scripts/infra-setup/roles/promoter/tasks/credentials.yml
  ci-scripts/infra-setup/roles/promoter/tasks/docker.yml
  ci-scripts/infra-setup/roles/promoter/tasks/logs.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/monitoring.yml
  ci-scripts/infra-setup/roles/promoter/tasks/promoter-code-repo.yml
  ci-scripts/infra-setup/roles/promoter/tasks/promoter.yml
  ci-scripts/infra-setup/roles/promoter/tasks/repos-packages.yml
  ci-scripts/infra-setup/roles/promoter/templates/dlrn-promoter.service.j2
  playbooks/molecule-pre.yaml
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Promoter: prepare for the deduplication
  ci-scripts/infra-setup/roles/promoter/defaults/main.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/provision/verify.yml
  ci-scripts/infra-setup/roles/promoter/tasks/monitoring.yml
  playbooks/common_tasks/promotion-common-tasks-pre.yml
  playbooks/promoter-integration.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-delegated-promote-images, tox-py27, tox-py36

Promoter: Convert promote-images test to centos8
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/cleanup.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/verify.yml
  playbooks/common_tasks/promotion-common-tasks-pre.yml
  test-requirements.txt
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

update master criteria
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Update notes for submitted changes
  80/93e3f6d740f31cb5a3650fbdb76d9f77a38341
Due: none
