Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.*
        - sova-tracking-jobs: &sovatrack
            # broken for more than a month, incorrect file pattern as job
            # can be brake by changes outside it.
            voting: false
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule: &molecule
            files:
              - ^ci-scripts/infra-setup/roles/promoter/.*$
        - molecule-container-push:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-delegated.yml
        - molecule-tripleo-common:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-tripleo-common.yml
        - molecule-delegated-promote-images:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*
              - ^playbooks/molecule-delegated-promote-images-pre.yml
              - ^playbooks/molecule-delegated-promote-images.yml
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - rdo-tox-molecule:
            <<: *molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

Add support and test for secured registries
  ci-scripts/dlrnapi_promoter/tests/staging-setup/stage-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging-setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/playbook.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  playbooks/molecule-delegated.yml
  playbooks/molecule-post.yml
  pytest.ini
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Update patch set 11
  29ed57b2e08bc96a448e9982ffbc98d5c195e2f0
Due: none

WIP Ensure named hashes are unchanged during a promotion run
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_get_latest_hashes.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Ensure named hashes are unchanged during a promotion run
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_get_latest_hashes.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Add support and test for secured registries
  ci-scripts/dlrnapi_promoter/tests/staging-setup/stage-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging-setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/playbook.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  playbooks/molecule-delegated.yml
  playbooks/molecule-post.yml
  pytest.ini
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Make push to registries optional
  ci-scripts/container-push/roles/containers-promote/defaults/main.yml
  ci-scripts/container-push/roles/containers-promote/tasks/main.yaml
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Add support and test for secured registries
  ci-scripts/dlrnapi_promoter/tests/staging-setup/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/tests/staging-setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/playbook.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  playbooks/molecule-delegated.yml
  playbooks/molecule-post.yml
  pytest.ini
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36
