Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-fedora-28

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-fedora-28

Minimize duplication in promoter molecule tests with common tasks
  playbooks/common_tasks/install-epel.yml
  playbooks/common_tasks/install-requirements.yml
  playbooks/common_tasks/install-test-python.yml
  playbooks/molecule-delegated-pre.yml
  playbooks/molecule-delegated-promote-images-pre.yml
  playbooks/molecule-delegated-promote-images.yml
  playbooks/molecule-delegated.yml
  playbooks/molecule-tripleo-common.yml
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Update notes for submitted changes
  5a/d3a3a4b49be46cb41a5dd01e6785f886a99e2b
Due: none

Update patch set 1
  527a1e9380148f282fc4c093844c12ae9774d885
Due: none

convert get-hash bash into a reusable role
  ci-scripts/infra-setup/roles/get_hash/defaults/main.yml
  ci-scripts/infra-setup/roles/get_hash/molecule/default/molecule.yml
  ci-scripts/infra-setup/roles/get_hash/molecule/default/playbook.yml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
  playbooks/molecule-delegated-get_hash-pre.yml
  playbooks/molecule-delegated-get_hash.yml
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tox-py27, tox-py36

Modularize Promoter: create initial transition
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/legacy_promoter.py
  ci-scripts/dlrnapi_promoter/test_get_latest_hashes.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: add config class
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/legacy_promoter.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: creating execution path split
  ci-scripts/dlrnapi_promoter/common.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/infra-setup/roles/promoter/tasks/promotion_run.yml
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace legacy promoter function
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace promote_all_links legacy function
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/legacy_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace promote_link
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace setup_logging
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace check named hashes function
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace tag_qcow_images
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Compoment pipeline: Implement aggregated hashes for promoter workflow
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace get_latest_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace fetch_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace tag_containers
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/registry.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace fetch_jobs
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Adapt staging environment to DlrnHash and add component pipeline scenario
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/fixtures/scenario-1.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_staging_environment.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$
  rdo-tox-molecule: any of: ^ci-scripts/infra-setup/roles/promoter/.*$
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-tripleo-common.yml
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated-promote-images.yml
  tox-py27: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
  tox-py36: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
