Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, rdo-tox-molecule, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging-single-pipeline:
            files: &integration
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.*
              - ^requirements.txt
              - ^test-requirements.txt
        - tripleo-ci-promotion-staging-legacy-single-pipeline:
            files: *integration
        - tripleo-ci-promotion-staging-integration-pipeline:
            files: *integration
#        - sova-tracking-jobs: &sovatrack
#            # broken for more than a month, incorrect file pattern as job
#            # can be brake by changes outside it.
#            voting: false
#            files:
#              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule: &molecule
            voting: false
            files:
              - ^ci-scripts/infra-setup/roles/promoter/.*$
              - ^roles/get_hash/.*$
              - ^tox.ini
#        - molecule-container-push:
#            files:
#              - ^ci-scripts/dlrnapi_promoter/.*
#              - ^ci-scripts/container-push/.*
#              - ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*
#              - ^playbooks/molecule-delegated-pre.yml
#              - ^playbooks/molecule-delegated.yml
#              - ^requirements.txt
#              - ^test-requirements.txt
#        - molecule-tripleo-common:
#            files:
#              - ^ci-scripts/dlrnapi_promoter/.*
#              - ^ci-scripts/container-push/.*
#              - ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*
#              - ^playbooks/molecule-delegated-pre.yml
#              - ^playbooks/molecule-delegated.yml
#              - ^requirements.txt
#              - ^test-requirements.txt
#        - molecule-delegated-promote-images:
#            files:
#              - ^ci-scripts/dlrnapi_promoter/.*
#              - ^ci-scripts/promote-images.sh
#              - ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*
#              - ^playbooks/molecule-delegated-promote-images-pre.yml
#              - ^playbooks/molecule-delegated.yml
#              - ^requirements.txt
#              - ^test-requirements.txt
#       - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

Update notes for submitted changes
  82/7aedbccaf5c186b4afef484e7675ac2fe608d4
Due: none

Modularize Promoter: replace promote_all_links legacy function
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/legacy_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, tox-py27, tox-py36

Update notes for submitted changes
  f6/65853b12fde7920cf3a61cc148d1bc68b52dd3
Due: none

Upgrade molecule to 3.0
  .config/molecule/config.yml
  ci-scripts/infra-setup/roles/get_hash/molecule/default/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/molecule.yml
  tox.ini
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, rdo-tox-molecule, tox-py27, tox-py36

Replace fedora-28 with centos-8 nodesets
  bindep.txt
  playbooks/pre-run-docker.yml
  zuul.d/layout.yaml
Due: tox-py27, tox-py36

Modularize Promoter: replace tag_containers
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/registry.py
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, tox-py27, tox-py36

Modularize Promoter: replace fetch_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, tox-py27, tox-py36

Adapt staging environment to DlrnHash and add component pipeline scenario
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/fixtures/scenario-1.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/converge.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/infra-setup/roles/promoter/tasks/teardown.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, rdo-tox-molecule, tox-py27, tox-py36

Modularize Promoter: replace check named hashes function
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, tox-py27, tox-py36

Modularize Promoter: replace fetch_jobs
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, tox-py27, tox-py36

Modularize Promoter: replace promote_link
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
Due: tripleo-ci-promotion-staging-single-pipeline, tripleo-ci-promotion-staging-legacy-single-pipeline, tripleo-ci-promotion-staging-integration-pipeline, tox-py27, tox-py36
