Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

zuul.d/layout.yaml:

---
- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    templates:
      - jobs-promoter-centos-7-jobs
    check:
      jobs:
        - rdo-tox-molecule: &molecule
            files:
              - .*molecule.*
              - ^ci-scripts/infra-setup/roles/get_hash/.*$
              - ^ci-scripts/infra-setup/roles/promoter/.*$
              - ^requirements.txt
              - ^requirements.txt
              - ^test-requirements.txt
              - ^tox.ini$
              - ^zuul.d/layout.yaml
            vars:
              tox_environment:
                PYTEST_REQPASS: 1
        - rdo-tox-molecule-delegated-centos-8:
            <<: *molecule
            vars:
              tox_environment:
                PYTEST_REQPASS: 1
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            post-run: playbooks/post-run.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - .*\.py
              - .*\.ini
              - ^ci-scripts/infra-.*/.*
              - ^molecule/.*
              - ^playbooks/.*
              - ^requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^test-requirements.txt
              - ^tox.ini
              - ^zuul.d/layout.yaml$
            nodeset: rdo-centos-7
            vars:
              tox_environment:
                PYTEST_REQPASS: 188
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            post-run: playbooks/post-run.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - .*\.py
              - ^ci-scripts/infra-.*/.*
              - .*\.ini
              - ^molecule/.*
              - ^playbooks/.*
              - ^requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^test-requirements.txt
              - ^tox.ini
              - ^zuul.d/layout.yaml$
            vars:
              tox_environment:
                PYTEST_REQPASS: 188
    gate:
      jobs:
        - rdo-tox-molecule:
            <<: *molecule
        - rdo-tox-molecule-delegated-centos-8:
            <<: *molecule
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36

Promoter: implement qcow promotion in python
  ci-scripts/dlrnapi_promoter/promoter_defaults_experimental.yaml
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
Due: tox-py27, tox-py36

Update patch set 9
  1031b17c8caaa1226bc6a4163e25c2f9c4a32a8f
Due: none

Enforce use of python3 for promoter
  ci-scripts/container-push/roles/containers-promote/tasks/main.yaml
  ci-scripts/dlrnapi_promoter/README.md
  ci-scripts/dlrnapi_promoter/deprecated-dlrn-promoter.sh
  ci-scripts/dlrnapi_promoter/dlrn-promoter.sh
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/infra-setup/docs/README.md
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/INSTALL.rst
  ci-scripts/infra-setup/roles/promoter/molecule/default/functional_tests.yml
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/converge.yml
  ci-scripts/infra-setup/roles/promoter/tasks/main.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/infra-setup/roles/promoter/tasks/teardown.yml
  ci-scripts/infra-setup/roles/promoter/templates/dlrn-promoter-service.sh.j2
  ci-scripts/tripleo-upstream/dlrnapi_venv.sh
  playbooks/molecule-delegated-pre.yml
  playbooks/molecule-delegated-promote-images-pre.yml
  playbooks/molecule-delegated.yml
  playbooks/staging.yml
Due: rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

Promoter: switch to qcow python promotion
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-7/master.ini
  ci-scripts/dlrnapi_promoter/config/staging/CentOS-8/master.ini
  ci-scripts/dlrnapi_promoter/promoter_defaults_experimental.yaml
  ci-scripts/dlrnapi_promoter/promoter_integration_checks.py
  ci-scripts/dlrnapi_promoter/qcow_client.py
  ci-scripts/dlrnapi_promoter/requirements.txt
  ci-scripts/dlrnapi_promoter/test_config_unit.py
  ci-scripts/dlrnapi_promoter/test_main_unit.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_qcow_client_unit.py
  ci-scripts/dlrnapi_promoter/test_unit_fixtures.py
  test-requirements.txt
  tox.ini
Due: rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

Update notes for submitted changes
  39/b27507980a79a5542f75af8bb880d458014ae9
Due: none

Fix paths to ci-config checkout when running outside ci-config
  playbooks/molecule-delegated.yml
  playbooks/molecule-post.yml
Due: rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

Promoter: enable qcow promotion rollback
  ci-scripts/dlrnapi_promoter/qcow_client.py
Due: tox-py27, tox-py36
