Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-fedora-28

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-fedora-28

Add sova tags to influx db
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/zuulv3_job_builds.py
Due: tox-py27, tox-py36

Update notes for submitted changes
  13/67dfc5fb5564e9d5fb66b8ba0f379964d76429
Due: none

convert get-hash bash task into a reusable role
  ci-scripts/infra-setup/roles/get_hash/defaults/main.yml
  ci-scripts/infra-setup/roles/get_hash/molecule/default/molecule.yml
  ci-scripts/infra-setup/roles/get_hash/molecule/default/playbook.yml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
  ci-scripts/infra-setup/roles/promoter/molecule/default/playbook.yml
  tox.ini
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, tox-py27, tox-py36

Update notes for submitted changes
  d1/662dfc9f4a6635f939d07be69988f2f9f4b876
Due: none

Remove periodic standalone-upgrade-master from master centos criteria
  ci-scripts/dlrnapi_promoter/config/CentOS-7/master.ini
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$
  rdo-tox-molecule: any of: ^ci-scripts/infra-setup/roles/promoter/.*$
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-tripleo-common.yml
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated-promote-images.yml
  tox-py27: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
  tox-py36: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
