Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-fedora-28

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-fedora-28

add link to results for commit and distro hash
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

Promoter test: refactor integration tests
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test_promoter_test.py
  playbooks/staging.yml
  tox.ini
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

Update notes for submitted changes
  60/d4eaa6654eeca72a7257276fd3d31c014af8cb
Due: none

Work in Progress Added script to parse html data to json
  ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/html_json.py
Due: tox-py27, tox-py36

lint: addressed 301, 302, 306
  .ansible-lint
  ci-scripts/container-push/roles/containers-promote/tasks/main.yaml
  ci-scripts/container-push/roles/containers-promote/tasks/manifest-push.yml
  ci-scripts/container-push/roles/containers-promote/tasks/registry-push.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/functional_tests.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/playbook.yml
  playbooks/molecule-delegated.yml
  playbooks/molecule-tripleo-common.yml
  playbooks/staging.yml
  playbooks/tox-jjb-run.yml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

lint: fixes 301, 302, 306
  .ansible-lint
  ci-scripts/container-push/roles/containers-promote/tasks/main.yaml
  ci-scripts/container-push/roles/containers-promote/tasks/manifest-push.yml
  ci-scripts/container-push/roles/containers-promote/tasks/registry-push.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/functional_tests.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/playbook.yml
  playbooks/molecule-delegated.yml
  playbooks/molecule-tripleo-common.yml
  playbooks/staging.yml
  playbooks/tox-jjb-run.yml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

Update patch set 11
  62269948903120db3755c1b983eb91b605d26d86
Due: none

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.yaml.*
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$
  tox-py27: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
  tox-py36: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
