Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.*
        - sova-tracking-jobs: &sovatrack
            # broken for more than a month, incorrect file pattern as job
            # can be brake by changes outside it.
            voting: false
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule: &molecule
            files:
              - ^ci-scripts/infra-setup/roles/promoter/.*$
        - molecule-container-push:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-delegated.yml
        - molecule-tripleo-common:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-tripleo-common.yml
        - molecule-delegated-promote-images:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*
              - ^playbooks/molecule-delegated-promote-images-pre.yml
              - ^playbooks/molecule-delegated-promote-images.yml
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - rdo-tox-molecule:
            <<: *molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

Added variable IMAGE_SERVER for scripts related to images.rdoproject.org
  jenkins/jobs/scripts/promote-upload-images.sh
  jenkins/jobs/scripts/tripleo-quickstart-publish-testing-images.sh
  jenkins/jobs/tripleo-quickstart-defaults.yml
Due: none

updated public key - svyas
  ci-scripts/infra-setup/tenant_vars/common.yml
Due: tox-py27, tox-py36

update bshewale pub key
  ci-scripts/infra-setup/tenant_vars/common.yml
Due: tox-py27, tox-py36

Update notes for submitted changes
  07/9aeccbb94b267725f243488c69750712fd538e
Due: none

[WIP] Refactor get-hash script calls
  ci-scripts/tripleo-upstream/get-commit-hash.sh
  ci-scripts/tripleo-upstream/get-md5-hash.sh
Due: none

Add ysandeep pub key to tenant_vars common
  ci-scripts/infra-setup/tenant_vars/common.yml
Due: tox-py27, tox-py36

Update notes for submitted changes
  10/0ca1248432ba8d1a97a9a02ec35a80f57767ed
Due: none

update notes on fs050
  ci-scripts/dlrnapi_promoter/config/CentOS-7/master.ini
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images
