Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-legacy: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$, ^zuul.d/layout.yaml$
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  tox-py27: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$

Update notes for submitted changes
  1e/0894c855da7d9553f9a0ec25b8e4bf6ef23993
Due: none

Add periodic centos-8-ovb-3ctlr_1comp_1supp-featureset039 to criteria
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

[WIP] Promoter: fix container-push scenarios
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-manifest/cleanup.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-manifest/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-manifest/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-manifest/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-manifest/verify.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-multiarch/cleanup.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-multiarch/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-multiarch/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-multiarch/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-multiarch/verify.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-secure/cleanup.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-secure/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-secure/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-secure/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push-secure/verify.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/cleanup-common.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/cleanup.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge-common.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/prepare-common.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/verify.yml
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, tox-py27, tox-py36

Promoter: Convert promote-images test to centos8
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/cleanup.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/molecule.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/prepare.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/verify.yml
  ci-scripts/infra-setup/roles/promoter/tasks/promoter-code-repo.yml
  test-requirements.txt
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Enable RDO phase1 promotion for Ussuri CentOS8
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images
