Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-fedora-28

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-fedora-28

Update patch set 3
  289c739c89c3212fd30d8905a9c90333ff7bc000
Due: none

Update patch set 4
  7e2f3733f28d005832a2867ef0b4e1a517078dd9
Due: none

Update Cockpit for tripleo ci
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/cockpit.dashboard.json
Due: tox-py27, tox-py36

Update notes for submitted changes
  4d/28547d80e1f21b6ba4b5fa71787c98a5a17db4
Due: none

Readme needs to be updated for the Fedora 31 User
  ci-scripts/infra-setup/roles/rrcockpit/README.md
Due: tox-py27, tox-py36

Update notes for submitted changes
  0e/5841ec8c72a063a5f58cda9afe23fd3ac0cdde
Due: none

Adds manifest_push param in containers-promote defaulting false
  ci-scripts/container-push/roles/containers-promote/defaults/main.yml
  ci-scripts/container-push/roles/containers-promote/tasks/registry-push.yml
  ci-scripts/dlrnapi_promoter/config/CentOS-7/staging.ini
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$
  rdo-tox-molecule: any of: ^ci-scripts/infra-setup/roles/promoter/.*$
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-tripleo-common.yml
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated-promote-images.yml
  tox-py27: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
  tox-py36: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
