Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-fedora-28

rdo-tox-molecule:
  voting: false

tox-py27:
  voting: false
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-fedora-28

Replace fedora-28 with centos-8 nodesets
  bindep.txt
  playbooks/pre-run-docker.yml
  zuul.d/layout.yaml
Due: tox-py27, tox-py36

Update notes for submitted changes
  8e/f099b1f3bb93e6cdddee5f20432711a76ed927
Due: none

Add rdo-tox-molecule-delegated-centos-8 job
  zuul.d/layout.yaml
Due: none

Fix molecule tests for get_hash role
  ci-scripts/infra-setup/roles/get_hash/molecule/default/molecule.yml
  ci-scripts/infra-setup/roles/get_hash/tasks/combined_get_hash_write_info.yaml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hashes_from_commit_yaml.yaml
  zuul.d/layout.yaml
Due: tox-py27, tox-py36

Cleanup artifacts between tests
  ci-scripts/infra-setup/roles/get_hash/molecule/default/converge.yml
Due: tox-py27, tox-py36

Fix legacy/component/integration conditions
  ci-scripts/infra-setup/roles/get_hash/molecule/default/converge.yml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
Due: tox-py27, tox-py36

Get real hash file from promote_source urls
  ci-scripts/infra-setup/roles/get_hash/molecule/default/converge.yml
Due: tox-py27, tox-py36

Testcase: validate <component>_hash_info.sh files
  ci-scripts/infra-setup/roles/get_hash/molecule/default/converge.yml
  ci-scripts/infra-setup/roles/get_hash/tasks/combined_get_hash_write_info.yaml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hash.yaml
  ci-scripts/infra-setup/roles/get_hash/tasks/get_hashes_from_commit_yaml.yaml
  ci-scripts/infra-setup/roles/get_hash/tasks/write_component_hashes.yaml
Due: tox-py27, tox-py36

Fix 'not enough arguments for format string' error
  ci-scripts/dlrnapi_promoter/logic.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Add InfluxDB performance tips to README
  ci-scripts/infra-setup/roles/rrcockpit/README.md
Due: tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-legacy: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$
  rdo-tox-molecule: any of: ^ci-scripts/infra-setup/roles/promoter/.*$, ^roles/get_hash/.*$, ^tox.ini
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  tox-py27: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
  tox-py36: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
