Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-centos-8

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  post-run: playbooks/post-run.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  post-run: playbooks/post-run.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-centos-8

Update notes for submitted changes
  1b/4358894c3fc21e2155e3f753b28c12daba8f37
Due: none

clean query and add swift
  ci-scripts/infra-setup/roles/rrcockpit/files/grafana/component-pipeline.dashboard.json
Due: tox-py27, tox-py36

Update notes for submitted changes
  7f/3d9cafba7af477df2f2bdad14ce814b82ec6a3
Due: none

Update patch set 1
  9b88899285f9ab162b713e7d1659941f2da0e582
Due: none

Add fs001 into c8 master criteria for integreation pipeline.
  ci-scripts/dlrnapi_promoter/config/CentOS-8/master.ini
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Update patch set 6
  2dc0b39b829ed69477c27f1f0c1c9cbd274ffc42
  5aab27e4fd63b133ff27612c7736c5a795af833f
Due: none

Enable ini validation tests
  zuul.d/layout.yaml
Due: sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, tox-py27, tox-py36

Enable ini validation tests
  ci-scripts/dlrnapi_promoter/dlrn-promoter.sh
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-legacy: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$, ^zuul.d/layout.yaml$
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  tox-py27: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
