Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

sova-tracking-jobs:
  run: ci-scripts/infra-setup/scheduler/sova-check.yml
  nodeset: rdo-fedora-28

tox-py27:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html

tox-py36:
  pre-run: playbooks/pre-run-docker.yml
  success-url: tox/reports.html
  failure-url: tox/reports.html
  nodeset: rdo-fedora-28

Update notes for submitted changes
  c2/85b0c01ba9b919f03d5a57f70f6889781c88b1
Due: none

Upgrade molecule to 3.0a9
  ci-scripts/infra-setup/roles/get_hash/molecule/default/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/playbook.yml
  ci-scripts/infra-setup/roles/promoter/molecule/default/playbook.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/playbook.yml
  ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration/playbook.yml
  tox.ini
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace fetch_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace fetch_jobs
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Compoment pipeline: Implement aggregate hashes for promoter workflow
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Adapt staging environment to DlrnHash and add component pipeline scenario
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/fixtures/scenario-1.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/converge.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/infra-setup/roles/promoter/tasks/teardown.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace setup_logging
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace check named hashes function
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace get_latest_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace tag_qcow_images
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace promote_link
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace tag_containers
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/registry.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace promote_all_links legacy function
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/legacy_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$
  rdo-tox-molecule: any of: ^ci-scripts/infra-setup/roles/promoter/.*$
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-tripleo-common.yml
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated-promote-images.yml
  tox-py27: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
  tox-py36: any of: ^ci-scripts/infra-.*/.*, ^requirements.txt, ^test-requirements.txt, ^setup.cfg, ^setup.py, ^tox.ini, ^molecule/.*, ^playbooks/.*, .*\.py
