Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.*
        - sova-tracking-jobs: &sovatrack
            # broken for more than a month, incorrect file pattern as job
            # can be brake by changes outside it.
            voting: false
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule: &molecule
            files:
              - ^ci-scripts/infra-setup/roles/promoter/.*$
        - molecule-container-push:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-delegated.yml
        - molecule-tripleo-common:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-tripleo-common.yml
        - molecule-delegated-promote-images:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*
              - ^playbooks/molecule-delegated-promote-images-pre.yml
              - ^playbooks/molecule-delegated-promote-images.yml
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - rdo-tox-molecule:
            <<: *molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

Refresh start_named_hashes after promotion to prevent false positive
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

allow for queue status to work w/ https
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/zuulv3_queues_status.py
Due: tox-py27, tox-py36

Update notes for submitted changes
  d0/79dc43b42a4103b41f77813b35bcaf0f10a9a7
Due: none

promote master
  ci-scripts/dlrnapi_promoter/config/CentOS-7/master.ini
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Update notes for submitted changes
  b9/418aa7d2d255b806d5eba3aa534f78e1d57449
Due: none

Promoter modularization: create initial transition
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/legacy_promoter.py
  ci-scripts/dlrnapi_promoter/test_get_latest_hashes.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

modularized promoter: add config class
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36
