Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.*
        - sova-tracking-jobs: &sovatrack
            # broken for more than a month, incorrect file pattern as job
            # can be brake by changes outside it.
            voting: false
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule: &molecule
            files:
              - ^ci-scripts/infra-setup/roles/promoter/.*$
        - molecule-container-push:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-delegated.yml
        - molecule-tripleo-common:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-tripleo-common.yml
        - molecule-delegated-promote-images:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*
              - ^playbooks/molecule-delegated-promote-images-pre.yml
              - ^playbooks/molecule-delegated-promote-images.yml
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - rdo-tox-molecule:
            <<: *molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

Update patch set 9
  dbe4926595f8566f995fd4c39c79209c883b3266
Due: none

Modularize Promoter: creating execution path split
  ci-scripts/dlrnapi_promoter/common.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
  ci-scripts/infra-setup/roles/promoter/tasks/promotion_run.yml
  zuul.d/jobs.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

[WIP] Adapt staging environment for the component pipeline
  ci-scripts/container-push/container-push.yml
  ci-scripts/container-push/roles/containers-promote/defaults/main.yml
  ci-scripts/container-push/roles/containers-promote/tasks/main.yaml
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/requirements.txt
  ci-scripts/dlrnapi_promoter/test_dlrn_integration.py
  ci-scripts/dlrnapi_promoter/test_promoter_functional.py
  ci-scripts/dlrnapi_promoter/test_promoter_unit.py
  ci-scripts/dlrnapi_promoter/tests/__init__.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/__init__.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/containers.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/dlrn_server.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/fixtures/integration-pipeline.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/fixtures/single-pipeline.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/qcow_server.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/registries.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage_config.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/converge.yml
  ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/requirements.txt
  ci-scripts/promote-images.sh
  playbooks/staging.yml
  test-requirements.txt
  tox.ini
  zuul.d/layout.yaml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace tag_qcow_images
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace tag_containers
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/registry.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace promote_link
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace check named hashes function
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace fetch_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace promote_all_links legacy function
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/legacy_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Compoment pipeline: Implement aggregate hashes for promoter workflow
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
  ci-scripts/dlrnapi_promoter/registry.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Adapt staging environment to DlrnHash and add component pipeline scenario
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/fixtures/scenario-1.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config-secure.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/stage-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/staging_environment.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test-config.yaml
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging_setup/test_staging_environment.py
  ci-scripts/infra-setup/roles/promoter/molecule/container-push/converge.yml
  ci-scripts/infra-setup/roles/promoter/molecule/promote-images/converge.yml
  ci-scripts/infra-setup/roles/promoter/tasks/setup_staging.yaml
  ci-scripts/infra-setup/roles/promoter/tasks/teardown.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace legacy promoter function
  ci-scripts/dlrnapi_promoter/config.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace get_latest_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace fetch_jobs
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace setup_logging
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36
