Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, sova-tracking-jobs, rdo-tox-molecule, rdo-tox-molecule-delegated-centos-8, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Path conditions:
  tripleo-ci-promotion-staging: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  tripleo-ci-promotion-staging-legacy: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/.*, ^playbooks/staging.*, ^requirements.txt, ^test-requirements.txt
  sova-tracking-jobs: any of: ^ci-scripts/infra-setup/scheduler/.*$, ^zuul.d/layout.yaml$
  rdo-tox-molecule: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  rdo-tox-molecule-delegated-centos-8: any of: .*molecule.*, ^ci-scripts/infra-setup/roles/get_hash/.*$, ^ci-scripts/infra-setup/roles/promoter/.*$, ^requirements.txt, ^requirements.txt, ^test-requirements.txt, ^tox.ini$, ^zuul.d/layout.yaml
  molecule-container-push: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-tripleo-common: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/container-push/.*, ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*, ^playbooks/molecule-delegated-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  molecule-delegated-promote-images: any of: ^ci-scripts/dlrnapi_promoter/.*, ^ci-scripts/promote-images.sh, ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*, ^playbooks/molecule-delegated-promote-images-pre.yml, ^playbooks/molecule-delegated.yml, ^requirements.txt, ^test-requirements.txt
  tox-py27: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$
  tox-py36: any of: .*\.py, ^ci-scripts/infra-.*/.*, ^molecule/.*, ^playbooks/.*, ^requirements.txt, ^setup.cfg, ^setup.py, ^test-requirements.txt, ^tox.ini, ^zuul.d/layout.yaml$

Update patch set 4
  3f55f47104547a100a8f3a3f8e6e62a0f735ce46
Due: none

Update notes for submitted changes
  4a/b8d0e2b013d825d515f5f84485d0adbed90db0
Due: none

Fix criteria file to promote to promoted-components
  ci-scripts/dlrnapi_promoter/config/CentOS-8/component/master.yaml
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Modularize Promoter: replace tag_containers
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/registry.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace tag_qcow_images
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/qcow.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace check named hashes function
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/dlrnapi_promoter.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace promote_link
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace fetch_jobs
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Modularize Promoter: replace get_latest_hashes
  ci-scripts/dlrnapi_promoter/dlrn_interface.py
  ci-scripts/dlrnapi_promoter/logic.py
  ci-scripts/dlrnapi_promoter/test_modularized.py
Due: tripleo-ci-promotion-staging, tripleo-ci-promotion-staging-legacy, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36
