Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.*
        - sova-tracking-jobs: &sovatrack
            # broken for more than a month, incorrect file pattern as job
            # can be brake by changes outside it.
            voting: false
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule: &molecule
            files:
              - ^ci-scripts/infra-setup/roles/promoter/.*$
        - molecule-container-push:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/container-push/.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-delegated.yml
        - molecule-tripleo-common:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/infra-setup/roles/promoter/molecule/tripleo-common-integration.*
              - ^playbooks/molecule-delegated-pre.yml
              - ^playbooks/molecule-tripleo-common.yml
        - molecule-delegated-promote-images:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/molecule/promote-images/.*
              - ^playbooks/molecule-delegated-promote-images-pre.yml
              - ^playbooks/molecule-delegated-promote-images.yml
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - rdo-tox-molecule:
            <<: *molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

add shyaml, component promotion
  ci-scripts/dlrnapi_promoter/requirements.txt
Due: tripleo-ci-promotion-staging, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images

Update patch set 10
  d07ba8c53595dff9e842db4352d96baa4612ea0f
Due: none

Too much info in debug task
  ci-scripts/container-push/roles/containers-promote/tasks/main.yaml
  ci-scripts/dlrnapi_promoter/tests/staging-setup/fixtures/scenario-1.yaml
  ci-scripts/infra-setup/roles/promoter/molecule/default/playbook.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging, rdo-tox-molecule, molecule-container-push, molecule-tripleo-common, molecule-delegated-promote-images, tox-py27, tox-py36

Update notes for submitted changes
  b5/5295d1816558f12bed3b0c5400172fa5cd5dda
Due: none

Adding call to load depcheck bugs
  ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/run.sh
Due: tox-py27, tox-py36

Fix docker-compose installation role
  ci-scripts/infra-setup/roles/setup_docker_compose/tasks/main.yaml
Due: tox-py27, tox-py36

Update notes for submitted changes
  62/663f91f4a15b022e83c27fc8d10e1758bf52c4
Due: none
