Repository rdo-infra/ci-config: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-promotion-staging, sova-tracking-jobs, tox-py27, tox-py36

zuul.d/layout.yaml:

- job:
    name: sova-tracking-jobs
    run: ci-scripts/infra-setup/scheduler/sova-check.yml
    nodeset: rdo-fedora-28

- job:
    name: tox-jjb
    run: playbooks/tox-jjb-run.yml

- project:
    check:
      jobs:
        - tripleo-ci-promotion-staging:
            files:
              - ^ci-scripts/dlrnapi_promoter/.*
              - ^ci-scripts/container-push/.*
              - ^ci-scripts/promote-images.sh
              - ^ci-scripts/infra-setup/roles/promoter/.*
              - ^playbooks/staging.yaml.*
        - sova-tracking-jobs: &sovatrack
            files:
              - ^ci-scripts/infra-setup/scheduler/.*$
        - rdo-tox-molecule
        - molecule-delegated
        - molecule-tripleo-common
        - tox-jjb
        - tox-py27: &py27
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
        - tox-py36: &py36
            pre-run: playbooks/pre-run-docker.yml
            success-url: "tox/reports.html"
            failure-url: "tox/reports.html"
            nodeset: rdo-fedora-28
            files:
              - ^ci-scripts/infra-.*/.*
              - ^requirements.txt
              - ^test-requirements.txt
              - ^setup.cfg
              - ^setup.py
              - ^tox.ini
              - ^molecule/.*
              - ^playbooks/.*
              - .*\.py
    gate:
      jobs:
        - tox-jjb
        - tox-py27:
            <<: *py27
        - tox-py36:
            <<: *py36
        - sova-tracking-jobs:
            <<: *sovatrack
        - rdo-tox-molecule

    openstack-periodic-24hr:
      jobs:
        - sova-tracking-jobs

Adjust train criteria for initial promotion
  ci-scripts/dlrnapi_promoter/config/CentOS-7/train.ini
Due: tripleo-ci-promotion-staging

WIP: Fix promoter test
  ci-scripts/dlrnapi_promoter/tests/staging-setup/fixtures/scenario-1.yaml
  ci-scripts/dlrnapi_promoter/tests/staging-setup/promoter_test.py
  ci-scripts/dlrnapi_promoter/tests/staging-setup/test_promoter_test.py
  playbooks/staging-post.yml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

WIP: Add tripleo-common scenario to staging promotion tests
  ci-scripts/infra-setup/roles/promoter/tasks/tripleo-common-test.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36

Update notes for submitted changes
  43/a7304fcb6bda240876a0895c8d760f7c9cfdc1
Due: none

Added script to download fs021 html file
  ci-scripts/infra-setup/roles/rrcockpit/files/mariadb/skiplist.py
Due: tox-py27, tox-py36

WIP: Add tripleo-common scenario to staging promotion
  ci-scripts/infra-setup/roles/promoter/tasks/tripleo-common-test.yml
  playbooks/staging.yml
Due: tripleo-ci-promotion-staging, tox-py27, tox-py36
